<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="login" method="POST">
        <input type="email" name="email"><br><br>
        <input type="password" name="password" ><br><br>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
        <button type="submit">submit</button><br><br>
    </form>
    <button><a href="/newPassword"> Forgotton Password </a></button>
</body>
</html>