<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Password</title>
</head>
<body>
    <h1>Enter Email Address</h1>
    <form action="/newPassword" method="POST">
        <input type="email" name="email" id="">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="">
        <button type="submit"> submit </button>
    </form>
</body>
</html>