<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new password</title>
</head>
<body>
    <h1>Enter new Password</h1>
    <form action="/new-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="">
        <input type="password" name="password" placeholder="Enter new password">
        <input type="hidden" name="id" value="<%= userId %>">
        <button type="submit"> Submit </button>
    </form>
</body>
</html>